[role="menu"]
	:is([role="menuitem"], [role="menuitemcheckbox"], [role="menuitemradio"]) {
	background: var(--main-color);

	&:hover,
	&[data-nested][data-open] {
		--ym-surface-color-primary-enabled-list: var(--light-main-color);
	}
}

[data-floating-ui-portal] > div:has([role="menu"]) {
	z-index: 500;
}

[role="menu"] {
	z-index: 402;
	border-width: 3px;
	border-color: var(--basic-color);
	border-style: solid;
	background: 0;
	backdrop-filter: blur(60px);
}
