/* Images for Legacy patcher Support */
/*--------------------------------------------*/
/*.AssetsImages:after {
	background-image: url("http://127.0.0.1:2007/assets/fullscreen-miku-XD.png?name=Vocaloid Miku!");
}*/

/*.AssetsImages:before {
	content: url("http://127.0.0.1:2007/assets/Kagamine-Rin.webp?name=Vocaloid Miku!");
}*/

/*.VibeBlock_root__z7LtR {
	background-image: url("http://127.0.0.1:2007/assets/My-vibe.png?name=Vocaloid Miku!");
}*/

/*[class*="SyncLyrics_root"] {
	background-image: url("http://127.0.0.1:2007/assets/fullscreen-lyrics.png?name=Vocaloid Miku!");
}*/

/*[class*="LikesAndHistory_carousel"]:after {
	background-image: url("http://127.0.0.1:2007/assets/Main-Page-Miku_End.webp?name=Vocaloid Miku!");
}*/

/*.mikuRun {
    background-image: url("http://127.0.0.1:2007/assets/miku-run.png?name=Vocaloid Miku!");
}*/
/*--------------------------------------------*/

/* Base */
/*--------------------------------------------*/
.ym-light-theme {
	--vmt-border-radius: 10px;
	--ym-radius-size-xl: 10px;
	--ym-shadow-xl: var(--basic-color);
	--ym-shadow-s: var(--basic-color);
	--ym-spacer-size-xxxl: 40px !important;

	--ym-controls-color-secondary-default-hovered: var(--light-main-color);
	--ym-background-color-primary-enabled-content: var(--main-color);
	--ym-background-color-primary-enabled-basic: var(--font-color);
	--ym-background-color-primary-enabled-player: #121212;
	--ym-controls-color-primary-default-hovered: var(--light-main-color);
	--ym-controls-color-primary-default-enabled: var(--buttons-color);
	--ym-controls-color-secondary-outline-selected: var(--main-color);
	--ym-controls-color-primary-text-enabled: #0007;
	--ym-controls-color-primary-text-enabled_variant: var(--font-color);
	--ym-background-color-primary-enabled-popover: var(--main-color);
	--ym-controls-color-primary-on_outline-enabled: var(--font-color);
	--ym-controls-color-secondary-on_outline-enabled: var(--basic-color);
	--ym-controls-color-primary-outline-enabled: var(--buttons-color);
	--ym-controls-color-secondary-default-enabled: var(--buttons-color);
	--ym-controls-color-primary-on_default-enabled: var(--font-color);
	--ym-controls-color-primary-outline-selected_stroke: var(--light-main-color);
}

* {
	--yellow-play-button-color: var(
		--ym-controls-color-secondary-on_default-hovered
	) !important;
}

@font-face {
	font-family: "Vocaloid";
	src: url("http://127.0.0.1:2007/assets/VOC-RE.ttf?name=Vocaloid Miku!")
		format("truetype");
}
/*--------------------------------------------*/
