/* Images for Legacy patcher Support */
/*--------------------------------------------*/
/*.AssetsImages:after {
	background-image: url("http://127.0.0.1:2007/assets/fullscreen-miku-XD.png?name=Vocaloid Miku!");
}*/

/*.AssetsImages:before {
	content: url("http://127.0.0.1:2007/assets/Kagamine-Rin.webp?name=Vocaloid Miku!");
}*/

/*.VibeBlock_root__z7LtR {
	background-image: url("http://127.0.0.1:2007/assets/My-vibe.png?name=Vocaloid Miku!");
}*/

[class*="SyncLyrics_root"]:before {
	background-image: url("http://127.0.0.1:2007/assets/Dilamix.png?name=Vocaloid Miku!");
}

/*[class*="SyncLyrics_root"] {
	background-image: url("http://127.0.0.1:2007/assets/fullscreen-lyrics.png?name=Vocaloid Miku!");
}*/

/*[class*="LikesAndHistory_carousel"]:after {
	background-image: url("http://127.0.0.1:2007/assets/Main-Page-Miku_End.webp?name=Vocaloid Miku!");
}*/

/*.mikuRun {
    background-image: url("http://127.0.0.1:2007/assets/miku-run.png?name=Vocaloid Miku!");
}*/
/*--------------------------------------------*/

/* Базовый минимум */
/*--------------------------------------------*/
.ym-light-theme {
	--vmt-border-radius: 10px;
	--ym-radius-size-xl: 10px;
	--ym-shadow-xl: var(--basic-color);
	--ym-shadow-s: var(--basic-color);
	--ym-spacer-size-xxxl: 40px !important;

	--ym-controls-color-secondary-default-hovered: var(--light-main-color);
	--ym-background-color-primary-enabled-content: var(--main-color);
	--ym-background-color-primary-enabled-basic: var(--font-color);
	--ym-background-color-primary-enabled-player: #121212;
	--ym-controls-color-primary-default-hovered: var(--light-main-color);
	--ym-controls-color-primary-default-enabled: var(--buttons-color);
	--ym-controls-color-secondary-outline-selected: var(--main-color);
	--ym-controls-color-primary-text-enabled: #0007;
	--ym-controls-color-primary-text-enabled_variant: var(--font-color);
	--ym-background-color-primary-enabled-popover: var(--main-color);
	--ym-controls-color-primary-on_outline-enabled: var(--font-color);
	--ym-controls-color-secondary-on_outline-enabled: var(--basic-color);
	--ym-controls-color-primary-outline-enabled: var(--buttons-color);
	--ym-controls-color-secondary-default-enabled: var(--buttons-color);
	--ym-controls-color-primary-on_default-enabled: var(--font-color);
	--ym-controls-color-primary-outline-selected_stroke: var(--light-main-color);
}

* {
	--yellow-play-button-color: var(
		--ym-controls-color-secondary-on_default-hovered
	) !important;
}

@font-face {
	font-family: "Vocaloid";
	src: url("http://127.0.0.1:2007/assets/VOC-RE.ttf?name=Vocaloid Miku!")
		format("truetype");
}
/*--------------------------------------------*/

/* TitleBar */
/*--------------------------------------------*/
[class*="TitleBar_root"] * {
	color: var(--main-color) !important;
}

[class*="CommonLayout_root"] {
	padding-block-start: 40px !important;
	padding-left: 12px;
}

[class*="TitleBar"][class*="Text"] {
	font-weight: 600 !important;
}
/*--------------------------------------------*/

/* Logo Color */
/*--------------------------------------------*/
[class*="NavbarDesktop_logo"] * {
	color: var(--font-color);
}
/*--------------------------------------------*/

/* Update нотификейшон */
/*--------------------------------------------*/
[class*="NotificationUpdate_important"] {
	position: fixed;
	display: flex;
	flex-direction: column;
	max-width: 280px;
	min-width: 280px;
	margin-left: -135px;
}
/*--------------------------------------------*/

/* Плеер */
/*--------------------------------------------*/
section[class*="PlayerBar_root"] {
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	height: 90px !important;
	z-index: 410 !important;
	border-radius: 0 !important;
	border-width: 0 !important;
}

[class*="PlayerBarDesktopWithBackgroundProgressBar_root"] {
	background: var(--main-color) !important;
}

[class*="PlayerBarDesktopWithBackgroundProgressBar_player"] {
	height: 100%;
	border-radius: 0 !important;
	border-width: 0 !important;
}

[class*="ChangeTimecodeBackground_backgroundProgressbar"]:before {
	border-radius: 0;
	opacity: 0.5;
	--ym-slider-color-primary-progress: var(--light-main-color);
}

[class*="PlayerBarDesktopWithBackgroundProgressBar_info"] {
	background: var(--basic-color);
	padding: 7px 7px 7px 4px;
	border-radius: 10px 0 0 10px;
	height: 77px;
}

[class*="PlayerBarDesktopWithBackgroundProgressBar_sonata_"] {
	background: var(--basic-color);
	padding: 7px 7px 7px 4px;
	border-radius: 0 10px 10px 0;
	height: 77px;
}

@media (min-width: 1023px) {
	[class*="PlayerBarDesktopWithBackgroundProgressBar_info"] {
		border-radius: 10px;
	}

	[class*="PlayerBarDesktopWithBackgroundProgressBar_sonata_"] {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.mikuRun {
	text-align: center;
	width: 20vw;
	min-width: 89px;
	bottom: -13px;
	z-index: 420;
	height: 100px;
	pointer-events: none;
	background-position: center;
	background-repeat: no-repeat;
}

[class*="PlayerBarDesktopWithBackgroundProgressBar_meta"] {
	background: var(--basic-color);
	padding: 7px 7px 7px 4px;
	border-radius: 10px;
	height: 77px;
	display: inline-grid;
	grid-template-rows: repeat(2, auto);
	grid-auto-flow: column;
	gap: 5px;
	flex: 0 0 auto;
}
/*--------------------------------------------*/

/* Beta button */
/*--------------------------------------------*/
[class*="MainPage_beta_withReleaseNotes"] {
	border: 3px solid var(--font-color);
	color: var(--font-color);
}
/*--------------------------------------------*/

/* Табы */
/*--------------------------------------------*/
[class*="MainPage_root"] > div > header {
	height: 0;
}

[class*="MainPage_root"] > div > header > div[class*="CompositeHeader_static"] {
	position: relative;
	top: -70px;
	left: 0px;
}

@media (max-width: 768px) {
	[class*="MainPage_root"]
		> div
		> header
		> div[class*="CompositeHeader_static"] {
		left: 8px;
	}
}

[class*="Skeleton_upperBlocks"] {
	margin-top: 30px;
}

[class*="Skeleton_tab"] {
	z-index: 400;
}
/* Объединено: базовый стиль + min/max-height */
[class*="Tab_tab_withCovers"] {
	background: var(--main-color);
	z-index: 10;
	bottom: 0px;
	min-height: 63px;
	max-height: 63px;
}
/*--------------------------------------------*/

/* Контекстное меню */
/*--------------------------------------------*/
.EiyUV4aCJzpfNzuihfMM:hover,
.EiyUV4aCJzpfNzuihfMM[data-nested][data-open] {
	--ym-surface-color-primary-enabled-list: var(--light-main-color);
}

.NOqNiasunvfLvvi75zl9 {
	z-index: 500;
}

.s7_MO4NdsYs7nPQALD8W {
	z-index: 402;
	background: var(--main-color);
	border-width: 3px;
	border-color: var(--basic-color);
	border-style: solid;
	background: 0;
	backdrop-filter: blur(60px);
}

.cM0M40YHieFFCTYRgOZa {
	color: var(--font-color);
}

.EiyUV4aCJzpfNzuihfMM {
	background: var(--main-color);
}
/*--------------------------------------------*/

/* Дефолт Лойаут */
/*--------------------------------------------*/
[class*="DefaultLayout_root_applicationPreserveTitleBar"] {
	padding-block-start: 40px;
}

[class*="Content_main"] {
	border-radius: var(--vmt-border-radius);
}
/*--------------------------------------------*/

/* Навбар */
/*--------------------------------------------*/
[class*="Navbar_root"] {
	background-color: var(--main-color);
	border-radius: var(--vmt-border-radius);
	margin-block-start: 0;
}
/*--------------------------------------------*/

/* Background */
/*--------------------------------------------*/
[class*="InnerHeader_root_showColor"] {
	background: 0;
}
/*--------------------------------------------*/

/* Fullscreen Player Desktop */
/*--------------------------------------------*/
.AssetsImages:after {
	visibility: visible;
	position: fixed;
	content: "";
	bottom: 75px;
	width: 100%;
	height: 80%;
	left: 16.8%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	z-index: 411;
}

.AssetsImages:before {
	visibility: visible;
	position: fixed;
	left: 121px;
	bottom: 432px;
	z-index: 412;
}

[class*="FullscreenPlayerDesktopPoster_root"] {
	visibility: hidden;
}

.CoverImage {
	visibility: visible;
	position: relative;
	display: inline-block;
	width: 300px;
	height: 300px;
	position: fixed;
	bottom: 125px;
	left: 36px;
	min-height: 0;
	border-color: var(--main-color);
	border-style: solid;
	border-width: 7px;
	border-radius: 50px;
	transform: rotate(30deg);
	box-shadow: 15px 30px 60px -10px black;
	z-index: 410;
}

[class*="FullscreenPlayerDesktop_header"] {
	z-index: 99999;
}
/*--------------------------------------------*/

/* play button */
/*--------------------------------------------*/
[class*="VibeBlock_playButton"] {
	background: var(--buttons-color);
	color: #000;
}

[class*="VibeBlock_playButton"]:hover {
	background: var(--light-main-color);
}
/*--------------------------------------------*/

/* Vibe - Вайб */
/*--------------------------------------------*/
[class*="VibeBlock_root"] {
	background-size: cover;
	background-position: center;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 10px;
	background-color: var(--basic-color);
}
/*--------------------------------------------*/

/* Синк лирика */
/*--------------------------------------------*/
[class*="SyncLyrics_content"] {
	width: 63%;
	min-width: 700px;
	height: 80vh;
	bottom: 30px;
	padding: 10px;
	border-radius: 40px;
	border-style: solid;
	border-color: var(--main-color);
	border-width: 8px;
	box-shadow: 0 25px 40px 20px #0009;
	backdrop-filter: blur(20px);
	background: #0009;
	margin-bottom: 12px;
}

[class*="FullscreenPlayerDesktopContent_additionalContent_enter"] {
	position: fixed;
	left: calc(-50% + 44px);
	width: 100%;
	height: 100%;
	z-index: 500;
}

[class*="FullscreenPlayerDesktopContent_additionalContent"] {
	position: fixed;
	width: 100%;
	left: 0;
	background-size: cover;
	transform: unset;
	z-index: 500;
}

[class*="SyncLyrics_root"]:before {
	visibility: visible;
	content: "";
	background-repeat: no-repeat;
	position: fixed;
	z-index: 1;
	background-size: contain;
	background-position: center;
	top: -1.5%;
	left: 50%;
	margin-left: 5%;
	width: 30%;
	min-width: 330px;
	height: 20%;
}

[class*="SyncLyricsLine_root"] {
	color: #bec8d1;
	margin-bottom: -0px;
}

[class*="SyncLyricsCard_root"],
[class*="FullscreenPlayerDesktop_poster_withSyncLyricsAnimation"] {
	display: none;
}

[class*="SyncLyrics_root"] {
	position: fixed;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
}

[class*="SyncLyrics_root"]:after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	pointer-events: none;
}
/*--------------------------------------------*/

/* Полноэкранный плеер */
/*--------------------------------------------*/
[class*="FullscreenPlayerDesktop_important"] {
	border-width: 0;
}
/*--------------------------------------------*/

/* FULLSCREEN_PLAYER_CLOSE_BUTTON */
/*--------------------------------------------*/
[class*="FullscreenPlayerDesktop_closeButton"] {
	background: #0003;
	backdrop-filter: blur(10px);
	top: 11px;
}
/*--------------------------------------------*/

/* DevPanel */
/*--------------------------------------------*/
body > [class*="DevPanel_root"] > .qU2apWBO1yyEK0lZ3lPO {
	backdrop-filter: blur(0px);
	z-index: 99999;
	background: var(--miku-color);
	border-color: var(--font-color);
	border-width: 1px;
	border-style: solid;
	border-radius: 50px;
	width: 36px;
	height: 36px;
	filter: brightness(1.1);
	color: #000;
}

body > [class*="DevPanel_root"] > .qU2apWBO1yyEK0lZ3lPO:hover {
	backdrop-filter: blur(0px);
	z-index: 99999;
	background: var(--miku-color);
	border-color: var(--font-color);
	border-width: 1px;
	border-style: solid;
	border-radius: 50px;
	width: 36px;
	height: 36px;
	filter: brightness(1.2);
}

[class*="DevPanel_panel"] {
	background: var(--main-color);
	bottom: 85px;
	right: -5px;
	border-radius: 10px 0px 0px 0px;
	border-width: 5px 0px 0px 5px;
	border-color: var(--basic-color);
}

[class*="DevPanel_block"] {
	background: var(--basic-color);
	color: var(--main-color);
}

[class*="DevPanel_block"]:hover {
	background: var(--basic-color);
	color: #fff;
}
/*--------------------------------------------*/

/* Miku-Chan!*/
/*--------------------------------------------*/
[class*="LikesAndHistory_carousel"]:after {
	content: "";
	position: absolute;
	width: 25%;
	min-height: 13%;
	background-position: bottom;
	background-size: contain;
	bottom: -250px;
	right: 0px;
	height: 101px;
	z-index: 2;
}
/*--------------------------------------------*/

/* Любимое и история */
/*--------------------------------------------*/
[class*="LikesAndHistory_historyIcon"] {
	color: var(--main-color);
}

[class*="LikesAndHistoryItem_root"] {
	background: #137a7f80;
}

[class*="LikesAndHistoryItem_title"],
[class*="LikesAndHistoryItem_titleIcon"] {
	color: #e6e6e6;
}

[class*="LikesAndHistoryItem_subtitle"] {
	color: #e3e3e3;
}
/*--------------------------------------------*/

/* Vibe and neuromusic buttons */
/*--------------------------------------------*/
[class*="VibeButton_button"],
[class*="NeuromusicButton_button"],
[class*="MixCard_root"] {
	border-radius: 10px;
	background: var(--basic-color);
	border-color: var(--basic-color);
}

[class*="VibeButton_button"]:hover,
[class*="NeuromusicButton_button"]:hover,
[class*="MixCard_root"]:hover {
	border-radius: 10px;
	background: var(--basic-color);
	border-color: var(--basic-color);
	filter: brightness(1.2);
}

[class*="MixCard_title"] {
	color: var(--hatsune-light);
}

[class*="VibeButton_title"],
[class*="NeuromusicButton_title"] {
	color: var(--ym-controls-color-secondary-text-enabled_variant);
}
/*--------------------------------------------*/

/* ControlsBar */
/*--------------------------------------------*/
[class*="ControlsBar_likeIcon"],
[class*="ControlsBar_item"],
[class*="ControlsBar_dislikeIcon"] {
	color: var(--basic-color);
}
/*--------------------------------------------*/

/* Slider */
/*--------------------------------------------*/
[class*="ChangeTimecode_slider"] {
	--slider-thumb-box-shadow-color: #0000;
}

[class*="ChangeVolume_root"] {
	--slider-thumb-box-shadow-color: #0000;
}
/*--------------------------------------------*/

/* Trailer Modal */
/*--------------------------------------------*/
[class*="TrailerModal_root"] {
	border-radius: 10px;
	border-style: solid;
	border-color: var(--main-color);
	border-width: 8px;
	box-shadow: 0 25px 40px 20px #0004;
}
/*--------------------------------------------*/

/* Эксперементы */
/*--------------------------------------------*/
[class*="OverwrittenExperimentsModal_submitButton"],
[class*="OverwrittenExperimentsModal_closeModalButton"],
[class*="OverwrittenExperimentsModal_reloadButton"],
[class*="OverwrittenExperimentsModal_overrideForm"] > .qU2apWBO1yyEK0lZ3lPO {
	background: var(--basic-color);
	color: #fff;
}

[class*="OverwrittenExperimentsModal_submitButton"]:hover,
[class*="OverwrittenExperimentsModal_closeModalButton"]:hover,
[class*="OverwrittenExperimentsModal_reloadButton"]:hover,
[class*="OverwrittenExperimentsModal_overrideForm"]
	> .qU2apWBO1yyEK0lZ3lPO:hover {
	background: var(--basic-color);
	color: #fff;
	filter: brightness(1.1);
}
/*--------------------------------------------*/

/* Попрошайки */
/*--------------------------------------------*/
[class*="Donation_root"] {
	background: var(--basic-color);
}

[class*="Donation_root"] * {
	color: #e6e6e6;
}
/*--------------------------------------------*/

/* download button */
/*--------------------------------------------*/
[class*="TrackPlaylist_controlsBarCell"] > div > svg > use,
[class*="PageHeaderPlaylist_downloadControl"] > button * {
	filter: invert(100%) contrast(190%);
}
/*--------------------------------------------*/

/* Очередь */
/*--------------------------------------------*/
[class*="PlayQueue_root"] {
	background-image: url("http://127.0.0.1:2007/assets/Diva-Queue-Background.jpg?name=Vocaloid Miku!");
	background-position: center;
	background-size: cover;
}

[class*="PlayQueue_root"]:before {
	background: 0;
}

[class*="PlayQueue_root"]:after {
	background: linear-gradient(
		0deg,
		var(--main-color, var(--miku-color)),
		hsla(0, 0%, 5%, 0)
	);
	bottom: 90px;
}

[class*="PlayQueue_content"]:before {
	position: fixed;
	content: "";
	height: 70px;
	width: 48%;
	background-image: url("http://127.0.0.1:2007/assets/Diva-F-Extreme-Page.png?name=Vocaloid Miku!");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: -73px;
	margin-left: -10px;
}

[class*="PlayQueue_content"] {
	position: fixed;
	background: #f005;
	border-style: solid;
	border-color: #f2647c;
	border-width: 3px;
	border-radius: 0px 10px 10px 10px;
	outline-width: 7px;
	outline-style: solid;
	outline-color: #2b2a2b;
	height: 65vh;
	width: 55%;
	left: 1%;
	bottom: 6.5vh;
	z-index: 2;
}

@media (max-width: 1079px) {
	[class*="PlayQueue_content"] {
		bottom: 7%;
	}
}

[class*="PlayQueue_scrollContent"] {
	padding-block-start: 0;
	padding-block-end: 0;
}

[class*="PlayQueue_scrollContent"]:after {
	position: fixed;
	content: "";
	width: 100%;
	height: 8%;
	left: 0;
	top: 0;
	background-image: url("http://127.0.0.1:2007/assets/Quaue-Header.png?name=Vocaloid Miku!");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	z-index: 999;
}

[class*="PlayQueue_scrollContent"]:before {
	position: fixed;
	content: "";
	width: 100%;
	height: 8%;
	top: 0;
	z-index: 899;
	background: linear-gradient(#292929 62%, #131313 65%);
}

[class*="ControlsBar_root_withSecondaryColor"] > button {
	color: var(--main-color);
}

[class*="ControlsBar_duration"] {
	color: var(--main-color);
}

[class*="PlayQueueBeforePlayingBlock_root"]:not(:empty) {
	padding-block-end: 0;
}

[class*="PlayQueueNowPlayingBlock_root"] {
	max-height: 80px;
	min-height: 80px;
}

[class*="PlayQueueNowPlayingBlock_important"] {
	background:
		linear-gradient(0deg, #006d76 50%, transparent 50%),
		url("http://127.0.0.1:2007/assets/3-poloski.png?name=Vocaloid Miku!");
	background-repeat: repeat-x;
	background-size: 88px;
	width: calc(100% - 20px);
	left: 10px;
	height: 75px;
	margin-top: 5px;
	border-radius: 16px;
	border-style: solid;
	border-color: #00ffff;
	border-width: 6px;
	transform: skewX(-12deg);
	box-shadow: 0 0 10px #00ffff;
	filter: brightness(1.04);
}

[class*="PlayQueueNowPlayingBlock_important"]:hover {
	filter: brightness(1.1);
}

[class*="PlayQueueAfterPlayingBlock_prevTrack"] > [class*="CommonTrack_root"],
[class*="PlayQueueBeforePlayingBlock_prevTrack"] > [class*="CommonTrack_root"],
[class*="PlayQueueBeforePlayingBlock_animatedContent"]
	> [class*="CommonTrack_root"],
[class*="PlayQueueAfterPlayingBlock_animatedContent"]
	> [class*="CommonTrack_root"],
[class*="PlayQueueVibeBlock_root"],
[class*="PlayQueueVibeBlock_root"]:hover {
	background: #0005;
	width: calc(100% - 20px);
	left: 10px;
	height: 75px;
	margin-top: 5px;
	border-radius: 16px;
	border-style: solid;
	border-color: #0008;
	border-width: 4px;
	transform: skewX(-12deg);
}

[class*="PlayQueue_content"] * [class*="ControlsBar_contextMenuWrapper"] {
	background: #0007;
	height: 100%;
	width: 65px;
	margin-right: -8px;
	border-radius: 10px;
	transform: skewX(-12deg);
}

[class*="PlayQueueNowPlayingBlock_important"]
	*
	[class*="ControlsBar_contextMenuWrapper"] {
	background: #00ffff;
}

[class*="PlayQueueNowPlayingBlock_important"]
	*
	[class*="CommonControlsBar_duration"] {
	color: var(--font-color);
	font-weight: 800;
	font-size: 16px;
}

[class*="PlayQueueBeforePlayingBlock_animatedContent"]
	*
	[class*="CommonControlsBar_duration"],
[class*="PlayQueueAfterPlayingBlock_animatedContent"]
	*
	[class*="CommonControlsBar_duration"],
[class*="PlayQueueBeforePlayingBlock_animatedContent"]
	*
	[class*="CommonControlsBar_contextMenu"]
	> .JjlbHZ4FaP9EAcR_1DxF,
[class*="PlayQueueAfterPlayingBlock_animatedContent"]
	*
	[class*="CommonControlsBar_contextMenu"]
	> .JjlbHZ4FaP9EAcR_1DxF {
	color: var(--main-color);
	font-weight: 800;
	font-size: 16px;
}

[class*="PlayQueue_root"] * [class*="Meta_title"] {
	font-size: 20px;
}

[class*="PlayQueueAfterPlayingBlock_animatedContent"]
	> [class*="CommonTrack_root"]
	> TrackPlaylist_playButtonCell__Q6YT_ {
	transform: skewX(6deg);
}

/* skewX fix */
[class*="PlayQueue_content"] * [class*="Meta_root_withSecondaryColor"],
[class*="PlayQueue_content"] * [class*="ControlsBar_root_withSecondaryColor"],
[class*="PlayQueue_content"] * [class*="TrackPlaylist_playButtonCell"] {
	transform: skewX(12deg);
}

/* Кнопка лайка */
[class*="PlayQueue_content"]
	*
	[class*="CommonTrack_root"]
	*
	[class*="CommonControlsBar_likeIcon"] {
	opacity: 0;
}

[class*="PlayQueue_content"] * [class*="CommonTrack_root"]:hover {
	[class*="PlayQueue_content"]
		*
		[class*="CommonTrack_root"]
		*
		[class*="CommonControlsBar_likeIcon"] {
		opacity: 1;
	}
}

.Diva-Cover {
	position: fixed;
	width: 34%;
	height: 32%;
	top: 15vh;
	right: 4.6%;
	z-index: 99999;
}

.Diva-Perfect-Mark {
	position: fixed;
	width: 34%;
	height: 32%;
	background-image: url("http://127.0.0.1:2007/assets/Diva-F-Perfect-Mark.webp?name=Vocaloid Miku!");
	background-size: contain;
	background-position: center top;
	top: 50vh;
	right: 4.6%;
	z-index: 99999;
}

[class*="PlayQueue_content"] * [class*="TrackPlaylist_playButtonCell"] {
	visibility: hidden;
	position: relative;
	min-height: 100%;
	min-width: 50px;
}

[class*="PlayQueue_content"] * [class*="TrackPlaylist_playButtonCell"]:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	visibility: visible;
	background-image: url("http://127.0.0.1:2007/assets/Diva-F-Song-Icon.png?name=Vocaloid Miku!");
	background-size: 50px;
	background-position: center;
	width: 100%;
	height: 100%;
}

[class*="PlayQueue_content"] * [class*="CommonControlsBar_contextMenu"]:hover,
[class*="PlayQueue_content"] * [class*="CommonControlsBar_contextMenu"] {
	color: #000;
}

[class*="PlayQueueVibeBlock_title"] {
	visibility: hidden;
}

[class*="PlayQueueVibeBlock_title"]:before {
	visibility: visible;
	content: "Random";
	font-size: 20px;
}
/*--------------------------------------------*/

/* Обычные временные метки */
/*--------------------------------------------*/
[class*="CommonControlsBar_duration"],
[class*="CommonControlsBar_duration"]:hover {
	color: var(--font-color);
}
/*--------------------------------------------*/

/* Анимация играющего трека */
/*--------------------------------------------*/
[class*="PlayButtonWithPosition_playingAnimation"] {
	filter: hue-rotate(150deg) saturate(400%);
}
/*--------------------------------------------*/

/* User Profile Container */
/*--------------------------------------------*/
[class*="NavbarDesktopUserWidget_userProfileContainer"] {
	display: flex;
}

@media (min-width: 1023px) {
	[class*="NavbarDesktopUserWidget_userProfileContainer"] {
		display: none;
	}
}
/*--------------------------------------------*/

/* Yandex Music Time */
/*--------------------------------------------*/
#yandex-music-timer {
	visibility: hidden;
}
/*--------------------------------------------*/

/* Only display: none; */
/*--------------------------------------------*/
[class*="VibeAnimation_root"],
[class*="NavbarDesktop_pinsList"]:before,
[class*="NavbarDesktop_pinsList"]:after,
[class*="SyncLyrics_content"]:before,
[class*="SyncLyrics_content"]:after,
[class*="ArtistPage_averageColorBackground"],
[class*="PlaylistPage_averageColorBackground"],
[class*="AlbumPage_averageColorBackground"],
[class*="VibeButton_image"],
[class*="FullscreenPlayerDesktopContent_fullscreenContent"],
[class*="QualitySettingsModal_overlay"],
[class*="TrackLyricsModal_overlay"],
[class*="PlayQueueTitle_root"],
[class*="PlayQueueAfterPlayingBlock_title"],
[class*="PlayQueue_content"] * [class*="Meta_artists"],
[class*="PlayQueueVibeBlock_vibeTitle"],
[class*="NavbarDesktop_subTitle"],
[class*="UserProfile_plusLink"],
[class*="UserID-Avatar"]:after {
	display: none;
}
/*--------------------------------------------*/

/* No Auto Zoom v1.0.0 */
/*--------------------------------------------*/
:root {
	--ym-font-line-height-headline-xs: 1.375rem !important;
	--ym-icon-size-xxs: 1.25rem !important;
	--header-height: 3.75rem !important;
	--ym-font-size-label-l: 1rem !important;
	--ym-font-line-height-label-l: 1.5rem !important;
	--ym-font-line-height-headline-xxxxl: 4.25rem !important;
	--ym-radius-size-round: 50% !important;
	--ym-font-size-headline-l: 1.625rem !important;
	--ym-spacer-size-l: 1rem !important;
	--ym-radius-size-l: 0.75rem !important;
	--ym-spacer-size-xxl: 1.5rem !important;
	--ym-icon-size-xs: 1.5rem !important;
	--toastify-toast-max-height: 50rem !important;
	--ym-font-size-headline-xxxxxl: 5rem !important;
	--ym-radius-size-xs: 0.25rem !important;
	--ym-spacer-size-s: 0.625rem !important;
	--ym-font-line-height-headline-xxxl: 3.5rem !important;
	--toastify-toast-min-height: 4rem !important;
	--ym-font-line-height-label-xs: 0.625rem !important;
	--ym-font-line-height-headline-m: 1.625rem !important;
	--ym-spacer-size-xxs: 0.375rem !important;
	--ym-font-size-headline-xs: 1.25rem !important;
	--toastify-toast-width: 20rem !important;
	--ym-font-size-label-xs: 0.75rem !important;
	--ym-icon-size-s: 1.75rem !important;
	--subpage-sticky-header-height: 6rem !important;
	--player-bar-height: 5rem !important;
	--ym-font-size-label-xxs: 0.5rem !important;
	--ym-spacer-size-xxxxxl: 3rem !important;
	--ym-font-line-height-headline-xxxxxl: 5rem !important;
	--ym-font-line-height-headline-xxl: 3rem !important;
	--ym-radius-size-xxxl: 6.25rem !important;
	--ym-spacer-size-xxxl: 2rem !important;
	--ym-spacer-size-xxxs: 0.25rem !important;
	--collection-header-with-tabs-height: 9.25rem !important;
	--ym-spacer-size-m: 0.75rem !important;
	--ym-font-size-headline-xl: 2rem !important;
	--ym-font-size-headline-xxl: 3rem !important;
	--ym-font-size-headline-xxxxl: 4.25rem !important;
	--ym-font-size-headline-s: 1.375rem !important;
	--ym-font-size-vibe-m: 2.125rem !important;
	--html-font-size: 1rem !important;
	--ym-radius-size-xl: 1rem !important;
	--ym-icon-size-xxxl: 4.5rem !important;
	--ym-font-size-headline-m: 1.5rem !important;
	--ym-font-line-height-label-s: 1.125rem !important;
	--ym-spacer-size-xs: 0.5rem !important;
	--ym-font-size-label-s: 0.8125rem !important;
	--ym-icon-size-l: 2.5rem !important;
	--ym-radius-size-m: 0.5rem !important;
	--ym-icon-size-xl: 3rem !important;
	--ym-font-line-height-headline-s: 2rem !important;
	--ym-radius-size-s: 0.375rem !important;
	--ym-font-size-headline-xxxl: 3.5rem !important;
	--ym-font-line-height-headline-xl: 2rem !important;
	--ym-font-line-height-headline-l: 1.75rem !important;
	--ym-icon-size-xxxs: 1.125rem !important;
	--ym-icon-size-xxl: 4rem !important;
	--ym-spacer-size-xxxxl: 2.5rem !important;
	--ym-font-size-label-m: 0.875rem !important;
	--balbelow-height: 5rem !important;
	--ym-font-line-height-vibe: 3rem !important;
	--ym-font-line-height-label-m: 1.25rem !important;
	--ym-font-size-vibe-s: 2rem !important;
	--ym-spacer-size-xl: 1.25rem !important;
	--ym-radius-size-xxl: 1.5rem !important;
	--ym-icon-size-m: 2rem !important;
}
/*--------------------------------------------*/

/* Always Expanded Player */
/*--------------------------------------------*/
[class*="DefaultLayout_root"] {
	grid-template:
		"navbar content" minmax(
			auto,
			calc(100% - var(--player-bar-height) - var(--ym-spacer-size-m))
		)
		"playerbar playerbar" auto "barBelow barBelow" auto/auto 1fr !important;
}
/*--------------------------------------------*/
